<div class="flex flex-column h-full w-full p-2 sm:p-4">
    <p class="text-3xl font-semibold font-merriweather">Employee List</p>
    <div class="flex justify-content-between mt-2">
        <p-button icon="pi pi-plus" label="Add"></p-button>
        <p-selectButton [options]="viewOptions" [(ngModel)]="viewMode" optionValue="value" [allowEmpty]=false
            (onChange)="onViewChanged()">
            <ng-template let-item pTemplate>
                <i [class]="item.icon"></i>
            </ng-template>
        </p-selectButton>
    </div>
    <div class="p-input-icon-left w-full pt-2">
        <i class="pi pi-search text-lg"></i>
        <input type="text" pInputText class="w-full text-lg" placeholder="search employee" />
    </div>
    <ng-container *ngIf="viewMode == 'grid'; else listview">
        <div class="grid mt-2 p-2 p-0">
            <p-card *ngFor="let emp of employees" class="col-12 md:col-6 lg:col-4 xl:col-3 p-1">
                <div class="flex lg:flex-column lg:align-items-center">
                    <div class="bg-auto bg-no-repeat bg-center bg-primary border-circle h-4rem w-4rem bg-cover"
                        style="background-image: url({{emp.imgSrc}});"></div>
                    <div class="flex flex-column justify-content-center lg:text-center lg:pt-2">
                        <p class="ml-2 text-lg font-merriweather text-primary">{{emp.fname}} {{emp.lname}}</p>
                        <p class="ml-2 font-libre-franklin text-gray-400">{{emp.position}}</p>
                    </div>
                </div>
            </p-card>
        </div>
    </ng-container>

    <ng-template #listview>
        <div class="mt-4 lg:mt-6 flex justify-content-center">
            <div class="w-11">
                <div *ngFor="let emp of employees">
                    <div class="flex align-items-center justify-content-between w-full">
                        <div class="flex align-items-center">
                            <div class="bg-auto bg-no-repeat bg-center bg-primary border-circle h-3rem w-3rem lg:h-4rem lg:w-4rem bg-cover mx-2"
                                style="background-image: url({{emp.imgSrc}});"></div>
                            <div>
                                <p class="ml-2 sm:ml-4 lg:text-xl font-libre-franklin">{{emp.fname}} {{emp.lname}}</p>
                                <p class="ml-2 sm:ml-4 lg:text-xl font-libre-franklin text-gray-400 md:hidden">
                                    {{emp.position}}</p>
                            </div>
                        </div>
                        <p class="ml-2 sm:ml-4 lg:text-xl font-libre-franklin text-gray-400 hidden md:flex">
                            {{emp.position}}</p>

                    </div>
                    <hr class="border-teal-100 my-2">
                </div>
            </div>
        </div>

    </ng-template>

</div>